<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/logo_ubtuit.png' %}" type="image/x-icon">
    <title>{% block title %} {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark text-white p-3" id="sidebar-wrapper">
        <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="{% static 'images/logo_ubtuit.png' %}" alt="Logo" style="width: 50px; height: 50px;" class="me-2">
            <h3 class="text-center mb-0">Bitiruvchilar Markazi</h3>
        </div>

        <div class="list-group list-group-flush">
            <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
            <a href="{% url 'annual_report' %}" class="list-group-item list-group-item-action bg-dark text-white">Yillik
                Hisobot</a>
            <a href="{% url 'graduates' %}" class="list-group-item list-group-item-action bg-dark text-white">Bitiruvchilar
                Ro'yxati</a>
            <a href="{% url 'contact' %}" class="list-group-item list-group-item-action bg-dark text-white">Aloqa</a>
        </div>

        <div class="list-group list-group-flush mt-5">
            <h5 class="mb-4 text-center">Bizning Hamkorlar</h5> <!-- Yozuvni sarlavha qilish -->
            <div class="partner_box mb-3">
                <img src="{% static 'images/partner1.png' %}" alt="partner" class="img-fluid w-75 d-block mx-auto">
            </div>
            <div class="partner_box mb-3">
                <img src="{% static 'images/partner2.png' %}" alt="partner" class="img-fluid w-75 d-block mx-auto">
            </div>
            <div class="partner_box mb-3">
                <img src="{% static 'images/partner3.png' %}" alt="partner" class="img-fluid w-75 d-block mx-auto">
            </div>
            <div class="partner_box mb-3">
                <img src="{% static 'images/partner4.png' %}" alt="partner" class="img-fluid w-75 d-block mx-auto">
            </div>
            <div class="partner_box mb-3">
                <img src="{% static 'images/partner5.png' %}" alt="partner" class="img-fluid w-75 d-block mx-auto">
            </div>
        </div>

    </div>

    <!-- Partners Section -->


    <!-- Page Content -->
    <div id="page-content-wrapper" class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom px-4">
       <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars"></i></button>
            <b class="text-center text-muted mt-2 ms-3">
                Muhammad Al-Xorazmiy Nomidagi Toshkent Axborot Texnologiyalari Universiteti Urganch Filiali
            </b>


            <div class="ms-auto d-flex align-items-center">
                {% if user.is_authenticated %}
                <span class="me-3"><i class="fa-solid fa-user-graduate"></i> {{ request.user.username }}</span>
                <form action="{% url 'logout' %}" method="POST" class="d-inline"> {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                    </button>
                </form>
                {% else %}
                <!-- Login button -->
                <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>

                <!-- Register button -->
                <a href="{% url 'register' %}" class="btn btn-outline-success me-2">
                    <i class="fa-solid fa-user-plus"></i> Register
                </a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock content %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const wrapper = document.getElementById('wrapper');
    menuToggle.addEventListener('click', () => {
        wrapper.classList.toggle('toggled');
    });
</script>

<script>
    const ctx = document.getElementById('employmentChart').getContext('2d');
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Ishga joylashganlar', 'Ishsizlar'],
            datasets: [{
                label: 'Foizda',
                data: [{{ishlayotganlar_soni}
            }, {{ishsizlar_soni}
        }
    ],
    backgroundColor: [
        '#28a745', // green
        '#dc3545'  // red
    ],
        borderColor
    :
    [
        '#ffffff',
        '#ffffff'
    ],
        borderWidth
    :
    2
    }]
    },
    options: {
        responsive: true,
            plugins
    :
        {
            legend: {
                position: 'bottom',
            }
        }
    }
    })
    ;
</script>

</body>
</html>
