{% extends "alumni/base.html" %}
{% load static %}
{% block title %} Bosh sahifa{% endblock %}
{% block content %}

<div class="container-fluid p-4">
    <div class="row text-center mb-4">
        <div class="col-md-3 mb-3">
            <a href="{% url 'graduate_state' %}?type=bitiruvchilar" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-graduation-cap fa-2x text-primary" style="margin-bottom: 21px;"></i>
                        <h5 class="card-title">Bitiruvchilar</h5>
                        <p class="card-text fs-4">{{ graduates_count }} ta</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{% url 'graduate_state' %}?type=ishga-joylashganla" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-briefcase fa-2x text-success mb-2"></i>
                        <h5 class="card-title">Ishga joylashgan</h5>
                        <p class="card-text fs-4">{{ ishlayotganlar }} ta</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{% url 'graduate_state' %}?type=ishsizlar" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-user-times fa-2x text-danger mb-2"></i>
                        <h5 class="card-title">Ishsizlar</h5>
                        <p class="card-text fs-4">{{ ishsizlar_soni }} ta</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{% url 'companies' %}" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-building fa-2x text-warning mb-2"></i>
                        <h5 class="card-title">Hamkorlar</h5>
                        <p class="card-text fs-4">{{ companies_count }} ta</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="mb-4 text-center">2025 yil bo'yicha umumiy ko'rsatkichlar</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <canvas id="employmentChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h3 class="mb-4">Faoliyat Statusi</h3>

            <!-- Oliy o‘quv yurtida davom etayotganlar -->
            <div class="mb-3">
                <label class="form-label">Oliy o‘quv yurtida davom etayotganlar ({{ graduates_count }} / {{ graduates_count }})</label>
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: {{ graduates_count|floatformat:0 }}%">
                        {{ graduates_count|floatformat:0 }}%
                    </div>
                </div>
            </div>

                <!-- O‘z sohasida ishlayotganlar -->
                <div class="mb-3">
                    <label class="form-label">O‘z sohasida ishlayotganlar ({{ ishlayotganlar }} / {{ graduates_count }})</label>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width: {{ ishlayotganlar|floatformat:0 }}%">
                            {{ ishlayotganlar|floatformat:0 }}%
                        </div>
                    </div>
                </div>

                <!-- Boshqa sohada ishlayotganlar -->
                <div class="mb-3">
                    <label class="form-label">Boshqa sohada ishlayotganlar ({{ boshqa_soha }} / {{ graduates_count }})</label>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: {{ boshqa_soha|floatformat:0 }}%">
                            {{ boshqa_soha|floatformat:0 }}%
                        </div>
                    </div>
                </div>

            <!-- Ishsizlar -->
            <div class="mb-3">
                <label class="form-label">Ishsizlar ({{ ishsizlar_soni }} / {{ graduates_count }})</label>
                <div class="progress">
                    <div class="progress-bar bg-danger" style="width: {{ ishsizlar_soni|floatformat:0 }}%">
                        {{ ishsizlar_soni|floatformat:0 }}%
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}