{% extends "alumni/base.html" %}
{% load static %}
{% block title %} Bosh sahifa{% endblock %}
{% block content %}

<div class="container-fluid p-4">
<div class="carousel-container position-relative">
  <!-- Social Icons -->
  <div class="social-icons position-absolute top-50 start-0 translate-middle-y">
    <a href="https://web.telegram.org/k/#@UBTUIT_official" target="_blank"><img src="{% static 'images/icons/telegram.png' %}" alt="Telegram"></a>
    <a href="https://www.facebook.com/UBTUIT/" target="_blank"><img src="{% static 'images/icons/facebook.png' %}" alt="Facebook"></a>
    <a href="https://www.instagram.com/tatuurganchfiliali_official/" target="_blank"><img src="{% static 'images/icons/instagram.png' %}" alt="Instagram"></a>
    <a href="https://www.youtube.com/@ubtuit_official" target="_blank"><img src="{% static 'images/icons/youtube.png' %}" alt="YouTube"></a>
  </div>

  <!-- Carousel -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/Ubtuit_image1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/UBTUIT2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/ubtuit_image2.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

    <div class="row text-center mb-4">
        <div class="col-md-3 mb-3">
            <a href="{% url 'graduate_state' %}?type=bitiruvchilar" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-graduation-cap fa-2x text-primary" style="margin-bottom: 21px;"></i>
                        <h5 class="card-title">Bitiruvchilar</h5>
                        <p class="card-text fs-4">{{ graduates_count }} ta</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{% url 'graduate_state' %}?type=ishga-joylashganla" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-briefcase fa-2x text-success mb-2"></i>
                        <h5 class="card-title">Ishga joylashgan</h5>
                        <p class="card-text fs-4">{{ ishlayotganlar }} ta</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{% url 'graduate_state' %}?type=ishsizlar" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-user-times fa-2x text-danger mb-2"></i>
                        <h5 class="card-title">Ishsizlar</h5>
                        <p class="card-text fs-4">{{ ishsizlar_soni }} ta</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <a href="{% url 'companies' %}" class="text-decoration-none text-reset">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <i class="fa-solid fa-building fa-2x text-warning mb-2"></i>
                        <h5 class="card-title">Hamkorlar</h5>
                        <p class="card-text fs-4">{{ companies_count }} ta</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="mb-4 text-center">2025 yil bo'yicha umumiy ko'rsatkichlar</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <canvas id="employmentChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
       <div class="card-body">
    <h3 class="mb-4">Faoliyat Statusi</h3>

    <!-- Oliy o‘quv yurtida davom etayotganlar -->
    <div class="mb-3">
        <label class="form-label">Oliy o‘quv yurtida davom etayotganlar ({{ graduates_count }} / {{ graduates_count }})</label>
        <div class="progress">
            <div class="progress-bar bg-primary" style="width: 100%">
                100%
            </div>
        </div>
    </div>

<div class="mb-3">
    <label class="form-label">O‘z sohasida ishlayotganlar ({{ ishlayotganlar }} / {{ graduates_count }})</label>
    <div class="progress">
        <div class="progress-bar bg-success" style="width: {{ ishlayotganlar_percent }}%">
            {{ ishlayotganlar_percent }}%
        </div>
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Boshqa sohada ishlayotganlar ({{ boshqa_soha }} / {{ graduates_count }})</label>
    <div class="progress">
        <div class="progress-bar bg-warning" style="width: {{ boshqa_soha_percent }}%">
            {{ boshqa_soha_percent }}%
        </div>
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Ishsizlar ({{ ishsizlar_soni }} / {{ graduates_count }})</label>
    <div class="progress">
        <div class="progress-bar bg-danger" style="width: {{ ishsizlar_percent }}%">
            {{ ishsizlar_percent }}%
        </div>
    </div>
</div>

</div>


    </div>

</div>

{% endblock content %}